body {
    padding-top: 50px;
    padding-bottom: 20px;

}
caption {
    font-family:'Comic Sans MS';
    font-size:20pt;
}
table td{
    padding:2px;
    border:solid 5px #000000;
}
table tr{
    border:solid 5px #000000;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    width:980px;
    margin:auto;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
#jogo {
    width:50%;
    margin:auto;
}
#jogo h1{
    text-align:center;
    color:#0b0a5f;
    margin-left:0px;
    font-family:'Comic Sans MS';
}
#Jogadores {
    width:30%;
    margin:auto;
    border:1px solid #000000;
    border-radius:5px;
    padding:2px;
}
#painelInformacoes{
    font-size:10pt;
    padding:20px;
}
#tblPlacar {
    width:450px;
}
#tblPlacar tr {
    padding:0px;
}
#tblPlacar th tr{
    padding:0px;
}
#painelJogo {
    padding-left:80px;
}
#btnReseta {
    margin-left:98px;
}
.btnCustom{
    width:80px;
    height:80px;
    background-color:#ffffff;
    font-family: 'Comic Sans MS';
    color:#000000;
    font-size:50px;
    text-align:center;
}

.DisplayNone {
   display:none;
}
.DisplayBlock {
    display:block;
}
.margimTop {
    margin-top:20px;
}
