<div class="row" id="jogo">
    <div class="col-md-8">
        <h1>Jogo Da Velha</h1>
    </div>
    <div class="col-md-8">
        <table>
            <tbody>
                <tr>
                    <td>
                        <button class="btn" id="Btn1" onclick="Jogada('Btn1')">X</button>
                    </td>
                    <td>
                        <button class="btn" id="Btn2" onclick="Jogada('Btn2')"></button>
                    </td>
                    <td>
                        <button class="btn" id="Btn3" onclick="Jogada('Btn3')"></button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class="btn" id="Btn4" onclick="Jogada('Btn4')"></button>
                    </td>
                    <td>
                        <button class="btn" id="Btn5" onclick="Jogada('Btn5')"></button>
                    </td>
                    <td>
                        <button class="btn" id="Btn6" onclick="Jogada('Btn6')"></button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class="btn" id="Btn7" onclick="Jogada('Btn7')"></button>
                    </td>
                    <td>
                        <button class="btn" id="Btn8" onclick="Jogada('Btn8')"></button>
                    </td>
                    <td>
                        <button class="btn" id="Btn9" onclick="Jogada('Btn9')"></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
