<div class="row" id="Jogadores">
    <div class="col-md-12">
        <form id="formCadJog">
            <div class="row">
                <div class="col-md-12 form-group">
                    <label for="Jog1" class="col-md-12 control-label">Jogador 1</label>
                    <input type="text" class="form-control col-md-12" name="Jog1" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label class="control-label col-md-12">Escolha Sua Peça</label>
                </div>
                <div class="col-md-12 form-group">
                    <div class="col-md-12">
                        <label class="control-label radio-inline">
                            <input type="radio" name="opJog1" value="X" id="opJog1X" onchange="SelecionaPeca('Jog1','X')" />X
                        </label>
                        <label class="control-label radio-inline">
                            <input type="radio" name="opJog1" value="O" id="opJog1O" onchange="SelecionaPeca('Jog1','O')" />O
                        </label>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-12 form-group">
                    <label class="col-md-12 control-label">Jogador 2</label>
                    <input type="text" class="form-control col-md-12" name="Jog2" />
                </div>
                <div class="col-md-12 form-group">
                    <div class="col-md-12">
                        <label class="control-label radio-inline">
                            <input type="radio" name="opJog2" value="X" id="opJog2X" onchange="SelecionaPeca('Jog2', 'X')" />X
                        </label>
                        <label class="control-label radio-inline">
                            <input type="radio" name="opJog2" value="O" id="opJog2O"onchange="SelecionaPeca('Jog2','O')" />O
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <label>Quem Começa:</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label class="control-label radio-inline">
                                <input type="radio" name="inicia" value="1" />Jogador 1
                            </label>
                            <label class="control-label radio-inline">
                                <input type="radio" name="inicia" value="2" />Jogador 2
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row margimTop">
                <div class="col-md-12">
                    <button type="button" class="btn btn-primary btn-block" onclick="CadastraJogadores()">Cadastrar</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row DisplayNone" id="jogo">

    <div class="row" id="informacoes">
        <h3 id="jogadorInicial"></h3>
        <h3 id="peca"></h3>
    </div>

    <div class="row">
        <div class="col-md-8">
            <h1>Jogo Da Velha</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <table>
                <tbody>
                    <tr>
                        <td>
                            <button class="btnCustom btn" id="Btn1" onclick="Jogada('Btn1')"></button>
                        </td>
                        <td>
                            <button class="btnCustom btn" id="Btn2" onclick="Jogada('Btn2')"></button>
                        </td>
                        <td>
                            <button class="btnCustom btn" id="Btn3" onclick="Jogada('Btn3')"></button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class="btnCustom btn" id="Btn4" onclick="Jogada('Btn4')"></button>
                        </td>
                        <td>
                            <button class="btnCustom btn" id="Btn5" onclick="Jogada('Btn5')"></button>
                        </td>
                        <td>
                            <button class="btnCustom btn" id="Btn6" onclick="Jogada('Btn6')"></button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class="btnCustom btn" id="Btn7" onclick="Jogada('Btn7')"></button>
                        </td>
                        <td>
                            <button class="btnCustom btn" id="Btn8" onclick="Jogada('Btn8')"></button>
                        </td>
                        <td>
                            <button class="btnCustom btn" id="Btn9" onclick="Jogada('Btn9')"></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row margimTop">
        <div class="col-md-10">
            <div class="col-md-5">
                <button type="button" class="btn btn-danger" onclick="resetPartida();">Reiniciar</button>
            </div>
            <div class="col-md-5">
                <button type="submit" class="btn btn-primary" onclick="resetaPartida();">Reiniciar</button>
            </div>
        </div>
    </div>
    <div class="row" id="campeao">
        <h2 id="vencedor"></h2>
    </div>
    <div class="row" id="placar">
        <div class="col-md-12">
            <h3 class="text-center">Placar</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Jogador 1</th>
                        <th>Vitórias</th>
                        <td>X</td>
                        <th>Jogador 2</th>
                        <th>Vitórias</th>
                        <th>Empate</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td id="jogador1"></td>
                        <td id="vitoria1"></td>
                        <td>x</td>
                        <td id="jogador2"></td>
                        <td id="vitoria2"></td>
                        <td id="empate"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
